<!DOCTYPE>  
<html>  
<head>  
  <title>{{title}}</title>
  <style type="text/css">
    body { font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
  </style>
</head>
  <div class="main">
    {{{body}}}
  </div>
</html>  